---
import Section from "../Section.astro";
import { basics } from "@cv";
const { summary } = basics;
---

<Section title="About">
  <div class="container">
    <p>{summary}</p>
  </div>
</Section>

<style>
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-wrap: pretty;
  }
</style>
