---
import Section from "../Section.astro";
import { education } from "@cv";
---

<Section title="Education">
  <ul>
    {
      education.map(({ institution, area, startDate, endDate }) => {
        return (
            <div class="container">
                <h3>{institution}</h3>
                <time>{startDate} - {endDate}</time>
            </div>
            <p>{area}</p>
        );
      })
    }
  </ul>
</Section>

<style>
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    
</style>