---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
---

<Layout title="Minimalist Portafolio">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
  </main>
</Layout>

<style>
  main {
	padding: 4rem;
	margin: auto;
	width: 100%;
  }
</style>
